<footer>
    <div class="f-info">
        <div class="f-info-socials mt-2">
            <button class="social-btn"><i class="fa-brands fa-linkedin" style="color: #B197FC;"></i></button>
            <button class="social-btn"><i class="fa-brands fa-github" style="color: #B197FC;"></i></button>
            <button class="social-btn"><i class="fa-solid fa-envelope" style="color: #B197FC;"></i></button>
        </div>
        <div class="f-info-brand">&copy; StaySphere private limited</div>
        <div class="f-info-links mb-2">
            <a href="/privacy">Privacy</a>
            &nbsp;&nbsp;
            •
            &nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>